<!-- 
Auteur: Anouar Lahmidi
Date: 9/30/2024
Fichier: head.ejs
Description: head atelier 10
-->

<<meta charset="UTF-8">

<title>Mon site</title>

 

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>

    body    { padding-top:50px; }

</style>