<!--
Auteur: Anouar Lahmidi
Date: 9/18/2024
Fichier: header.ejs
Description: header de base pour le lab 3
-->

<nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

 

        <div class="navbar-header">

            <a class="navbar-brand" href="#">

                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>

                EJS Is Fun

            </a>

        </div>

 

        <ul class="nav navbar-nav">

            <li><a href="/">Home</a></li>

            <li><a href="/contact">Contacte</a></li>

            <li><a href="/controle">Contrôle</a></li>

            <li><a href="/reset">Reset</a></li>

        </ul>

      

    </div>

</nav>
