<!-- 
Auteur: Anouar Lahmidi
Date: 9/30/2024
Fichier: contact.ejs
Description: page contact atelier 10
-->

<!DOCTYPE html>

<html lang="fr">

<head>

    <%- include('../partials/head') %>

</head>

<body class="container">



    <header>

        <%- include('../partials/header') %>

    </header>



    <main>

        <div class="jumbotron">

            <p>Me contacter:<br>billgates@hotmail.com</p>

        </div>

    </main>



    <footer>

        <%- include('../partials/footer') %>

    </footer>



</body>

</html>