<!-- 
Auteur: Anouar Lahmidi
Date: 9/30/2024
Fichier: erreur.ejs
Description: page erreur atelier 10
-->

<!DOCTYPE html>

<html lang="fr">

<head>

    <%- include('../partials/head') %>

</head>

<body class="container">

 

    <header>

        <%- include('../partials/header') %>

    </header>

 

    <main>

        <div class="jumbotron">

            ERREUR 404

        </div>

    </main>

 

    <footer>

        <%- include('../partials/footer') %>

    </footer>

   

</body>

</html>