<!DOCTYPE html>

<html lang="fr">

<head>

    <%- include('../partials/head') %>

</head>

<body class="container">



    <header>

        <%- include('../partials/header') %>

    </header>



    <main>

        <div class="jumbotron">

            <h1>Bienvenue dans mon super site!</h1>

        </div>

    </main>



    <footer>

        <%- include('../partials/footer') %>

    </footer>



    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8080');
    </script>



</body>

</html>